@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #57bb8a;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.loading
{
  position: absolute;
  top: 50%;
  left: 50%;
}

.owl
{
  position: absolute;
  top: 0;
  left: 50%;
  width: 3em;
  margin-left: -1.5em;
  animation: owl 2s ease-in-out alternate infinite;
}
@keyframes owl {
  0% { transform: rotate(180deg); }
  100% { transform: rotate(-180deg); }
}

.paper
{
  position: absolute;
  top: 0;
  left: 50%;
  width: 3em;
  background-color: red;
  width: 3em;
  height: 3em;
  margin-left: -1.5em;
  animation: paper 2s normal infinite;
}
@keyframes paper {
  0% { top: 0; }
  100% { top: 1em; }
}

